<%- include('partials/Usidebar') %>

<main>
    <h1>Activities</h1>

    <div class="options">
        <a href="/activity_form"><div class="create">
            <span class="material-symbols-outlined">developer_guide</span>
            <h3>Activity Form</h3>
        </div></a>
        <a href="/activity_closure"><div class="closure">
            <span class="material-symbols-outlined">event_busy</span>
            <h3>Activity Closure</h3>
        </div></a>
    </div> 
</main>

<%- include('partials/footer') %>