<%- include('partials/Usidebar') %>

<main>
    <h1>Projects</h1>

    <div class="options">
        <a href="/charter"><div class="create">
            <span class="material-symbols-outlined">developer_guide</span>
            <h3>Charter</h3>
        </div></a>
        <a href=""><div class="closure">
            <span class="material-symbols-outlined">event_busy</span>
            <h3>Project Closure</h3>
        </div></a>
        <a href=""><div class="activity">
            <span class="material-symbols-outlined">inventory</span>
            <h3>Activities</h3>
        </div></a>
    </div> 
</main>

<%- include('partials/footer') %>